<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AIT.Taskboard.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <AIT.Taskboard.Model.Properties.Settings>
      <setting name="TfsServerUri" serializeAs="String">
        <value />
      </setting>
      <setting name="StoreConfigurationOnServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskboardConfiguration" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowEmptyBacklogItems" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WorkItemTemplates" serializeAs="String">
        <value />
      </setting>
    </AIT.Taskboard.Model.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="AIT.TaskboardExceptions.log" />
        <!--<add name="eventListener" type="System.Diagnostics.EventLogTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="MyConfigEventLog"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
