<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AIT.Taskboard.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="taskboard.log" />-->
        <!--<add name="MyEventListener" type="System.Diagnostics.EventLogTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="MyConfigEventLog"/>-->
      </listeners>
    </trace>
  </system.diagnostics>

  <userSettings>
    <AIT.Taskboard.Application.Properties.Settings>
      <setting name="Width" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SplitterPosition" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="RecipientTo" serializeAs="String">
        <value>info@aitag.com</value>
      </setting>
      <setting name="RecipientCC" serializeAs="String">
        <value>info@aitag.com</value>
      </setting>
      <setting name="RecipientBCC" serializeAs="String">
        <value>info@aitag.com</value>
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>Error log</value>
      </setting>
    </AIT.Taskboard.Application.Properties.Settings>
  </userSettings>
</configuration>
